# Twitter Hashtag Analysis
### #NG30DaysofLearning

## Data Gathering

In [7]:
# installing snscrape
!pip install snscrape

Collecting snscrape
  Downloading snscrape-0.4.3.20220106-py3-none-any.whl (59 kB)
Requirement already satisfied: filelock in c:\users\iyes\anaconda3\lib\site-packages (from snscrape) (3.6.0)
Requirement already satisfied: beautifulsoup4 in c:\users\iyes\anaconda3\lib\site-packages (from snscrape) (4.11.1)
Requirement already satisfied: lxml in c:\users\iyes\anaconda3\lib\site-packages (from snscrape) (4.8.0)
Requirement already satisfied: requests[socks] in c:\users\iyes\anaconda3\lib\site-packages (from snscrape) (2.27.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\iyes\anaconda3\lib\site-packages (from beautifulsoup4->snscrape) (2.3.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\iyes\anaconda3\lib\site-packages (from requests[socks]->snscrape) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\iyes\anaconda3\lib\site-packages (from requests[socks]->snscrape) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\iyes\anaconda3\lib\site-packages (from requests[socks]->snscrape) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\iyes\anaconda3\lib\site-packages (from requests[socks]->snscrape) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\iyes\anaconda3\lib\site-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.4.3.20220106

In [8]:
# importing needed libraries
import pandas as pd
import snscrape.modules.twitter as sntwitter

In [9]:
query = "(#30DaysOfLearning OR #NG30DaysOfLearning) until:2022-07-01 since:2022-05-01"
tweets = []
limit = 30000


for tweet in sntwitter.TwitterHashtagScraper(query).get_items():
    
    if len(tweets) == limit:
        break
    else:
        tweets.append([tweet.date, tweet.url, tweet.user.username, tweet.sourceLabel, tweet.user.location, tweet.content, tweet.likeCount, tweet.retweetCount,  tweet.quoteCount, tweet.replyCount])
        
df = pd.DataFrame(tweets, columns=['Date', 'TweetURL','User', 'Source', 'Location', 'Tweet', 'Likes_Count','Retweet_Count', 'Quote_Count', 'Reply_Count'])

df.to_csv('30DLTweets.csv')

## Data Assessment

In [10]:
# first five hashtag tweets
df.head()

,Date,TweetURL,User,Source,Location,Tweet,Likes_Count,Retweet_Count,Quote_Count,Reply_Count
0,2022-06-30 23:41:31+00:00,https://twitter.com/Oloko_Burn_Fire/status/154...,Oloko_Burn_Fire,Twitter for Android,school of Life,**********July 2022**********\n- Tailwind CSS‼...,5,2,1,2
1,2022-06-30 23:02:00+00:00,https://twitter.com/bossking_uee/status/154264...,bossking_uee,Twitter for iPhone,"Lagos, Nigeria","You quit, you lose. You keep going, you you ma...",0,0,0,0
2,2022-06-30 22:49:03+00:00,https://twitter.com/bossking_uee/status/154264...,bossking_uee,Twitter for iPhone,"Lagos, Nigeria",Data Analysis\n#30daysoflearning,0,0,0,0
3,2022-06-30 22:44:02+00:00,https://twitter.com/Fabulousnani01/status/1542...,Fabulousnani01,Twitter for Android,,Tomorrow's Session on #30daysoflearning is on ...,2,0,0,0
4,2022-06-30 21:49:16+00:00,https://twitter.com/debunmiT/status/1542626348...,debunmiT,Twitter for Android,,To everyone involved in this I want to say a b...,136,8,0,15

In [11]:
# statistical summary
df.describe()

       Likes_Count  Retweet_Count  Quote_Count  Reply_Count
count    790.00000     790.000000   790.000000   790.000000
mean      17.55443       3.924051     0.192405     1.264557
std       48.85940      12.994756     0.750795     2.999727
min        0.00000       0.000000     0.000000     0.000000
25%        1.00000       0.000000     0.000000     0.000000
50%        2.00000       0.000000     0.000000     0.000000
75%       10.00000       2.000000     0.000000     1.000000
max      604.00000     272.000000    10.000000    38.000000